<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="localhost">
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="toAction">
                    <match url=".*" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern=".*action.*" negate="true" />
                        <add input="{URL}" pattern=".*img.*" negate="true" />
                        <add input="{URL}" pattern=".*css.*" negate="true" />
                        <add input="{URL}" pattern=".*js.*" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}/?action=catalog&amp;do=group" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
